* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: 
    "header"
    "frutos"
    "propiedades"
    "footer";
}

.nav {
    width: 100vw;
    background: #3b16032a;
    display: flex;
    align-items: center;
    padding: .9em .8em;
    position: fixed;
    z-index: 1;
}

.icon {
    display: block;
    max-width: 40px;
    width: 35px;
}

.nav_list {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 15px;
    padding: 0 10px;
    text-transform: uppercase;
    text-align: center;
    list-style: none;
}

.nav_link {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 1em;
    font-weight: 600;
}

.header {
    height: 100vh;
    width: 100vw;
    grid-area: header;
    background-image: linear-gradient(#f543432d, #ffb98e69), url(../images/background.png);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.principal_text {
    color: #FFFFFF;
    text-transform: uppercase;
    text-align: center;
    font-size: 3em;
    padding-bottom: 20%;
}

.main_title {
    line-height: 125px;
}

.main_subtitle {
    font-size: 1em;
}

.third_title {
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: 1em;
    position: relative;
    top: 8%;
}