:root {
    --background-color-main: rgb(255, 255, 255);
    --background-color-switch: #000000;
    --fill-menu: #000000;
    --text-color-main: #000000;
    --text-color-secondary: #ffffff;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
}

body {
    font-family: 'Playfair Display', serif;
}

/* header */

.hero {
    height: 100vh;
    width: 100vw;
    position: absolute;
    z-index: 2;
    overflow: hidden;
    opacity: 1; 
    background-color: #000000;
    transition: opacity 0.5s ease-in-out;
}


.hero.hidde {
    z-index: -1;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.figure__container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.hero__image {
    height: 100vh;
    position: absolute;
    left: 7%;
    overflow: hidden;
    object-fit: cover;
}

.text__container {
    /*height: 47%; */
    /* width: 47%; */
    padding: 40px 80px;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    z-index: 1;
    font-size: 18vh;
    text-align: right;
    line-height: 15vh;
    color: #ffffff;
}

.text__container .subtitle {
    opacity: 80%;
    /* position: absolute; */
    /* top: 33vh; */
    /* right: 40px; */
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    font-size: 4vh;
    font-weight: 400;
    /* line-height: 11vh; */
}

/* main */

.main {
    height: 100vh;
    width: 100vw;
    position: relative;
    top: 0;
    overflow: hidden;
    z-index: 0;
    background-color: var(--background-color-main);
    transition: background-color 0.5s ease-in-out;
}

.main.hidde {
    opacity: 0;
    z-index: -2;
    transition: all 0.5s ease-in-out;
}

.main.show {
    z-index: 0;
    opacity: 1;
    transition: all 0.5s ease-in-out;
}

.nav {
    height: 100vh;
    width: 6vw;
    padding: 70px 33px;
    border-right: 1px solid #C7C7C7;
    writing-mode: vertical-lr;
    z-index: 2;
    position: absolute;
    left: 0;
}

/* .nav__container {
    height: 100%;
    width: 100%;
    display: flex;
    position: relative;
} */

.navItems__container {
    font-family: 'Lato';
    font-size: 2.3vh;
    font-weight: 300;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.nav__list {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    transform: rotate(180deg);
}

.nav__list .nav__logo {
    display: none;
}

.nav__item a {
    text-decoration: none;
    color: var(--text-color-main);
}

.nav__item:active {
    transform: scale(0.9);
}

.social__container {
    display: none;
}

.nav__menu {
    display: none;
}

.cross__menu {
    display: none;
}

.switch__theme {
    all: unset;
    height: 35px;
    width: 102px;
    position: absolute;
    bottom: 9%;
    left: 260%;
    z-index: 2;
    writing-mode: horizontal-tb;
    text-align: center;
    font-family: 'Lato', sans-serif;
    background-color: var(--background-color-switch);
    color: var(--text-color-secondary);
}

.switch__theme:hover {
    cursor: pointer;
}

.switch__theme:active {
    transform: scale(0.98);
}

.content__container {
    height: 100vh;
    width: 100vw;
    padding-left: 6vw;
    position: relative;
    z-index: 1;
    display: flex;
    align-items: flex-end;
    gap: 24px;
    color: var(--text-color-main);
}

.name {
    
    padding: 4vh 3vw;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    display: flex;
    flex-direction: column;
    text-align: right;
    font-size: 18vh;
}

.name .title {
    line-height: 15vh;
}

.info {
    height: 74%;
    width: 18vw;
    padding: 0 8px 56px;
    display: flex;
}

.info__container {
    width: 100%;
    font-size: 1.8vh;
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 16px;
}

.info__container1, .info__container2 {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.info__container1 p {
    text-transform: uppercase;
}

.image__container {
    height: 100%;
    width: 81%;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
    gap: 24px;
}

.image__light, .image__dark {
    height: 75vh;
    padding-bottom: 80px;
    position: relative;
    align-items: center;
    gap: 24px;
    transition: transform 0.5s ease-in-out;
}

.modelImage {
    height: 100%;
    object-fit: cover;
    transition: all 0.5s ease-in-out;
}

.arrow__svg {
    display: none;
}

.arrow__svg__deskL,  .arrow__svg__deskR {
    position: absolute;
    bottom: 2.4vh;
    z-index: 2;
}

.arrow__svg__deskL:hover,  .arrow__svg__deskR:hover {
    cursor: pointer;
}

.arrow__svg__deskL:active,  .arrow__svg__deskR:active {
    transform: scale(0.9);
}

.arrow__svg__deskL path,  .arrow__svg__deskR path{
    stroke: var(--text-color-main);
}

.arrow__svg__deskL {
    right: 14vw;
}

.arrow__svg__deskR {
    right: 3vw;
}
/* footer */

.footer {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    overflow: hidden;
    z-index: -2;
    background-color: var(--background-color-main);
    transition: background-color 0.5s ease-in-out;
}

.footer.hidde {
    z-index: -2;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.footer.show {
    z-index: 0;
    opacity: 1;
    transition: all 0.5s ease-in-out;
}

.nav__footer {
    height: 100vh;
    width: 6vw;
    padding: 70px 33px;
    border-right: 1px solid #C7C7C7;
    writing-mode: vertical-lr;
    z-index: 2;
    position: absolute;
    left: 0;
}

/* .nav__container__footer {
    height: 100%;
    width: 100%;
    display: flex;
} */

.nav__menu__footer {
    display: none;
}

.nav__list__footer {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    transform: rotate(180deg);
}

.nav__list__footer .nav__logo {
    display: none;
}

.social__list__container {
    position: absolute;
    right: 40%;
    bottom: 5%;
    z-index: 1;
    opacity: 1;
    display: inline-block;
}

.social__list__container a {
    font-size: 2.3vh;
    text-decoration-line: underline;
    color: #000000;
}

.image__footer {
    height: 100vh;
    padding: 38px;
    flex: 2;
}

.image__footer img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.container__about {
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
}

.info__footer {
    height: 50vh;
    padding: 20px 35px;
    position: relative;
    top: 13%;
    overflow: scroll;
    flex: 2;
}

.info__container__footer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.info__container__footer p {
    font-family: 'Lato', sans-serif;
    font-size: 3vh;
    font-weight: 300;
    line-height: 4vh;
}

.arrow__svg__footer {
    display: none;
}

/* color switch */

@media(prefers-color-scheme: light) {
    .main:not(.force-light) {
        --background-color-main: rgb(0, 0, 0);
        --background-color-switch: #ffffff;
        --fill-menu: #ffffff;
        --text-color-main: #ffffff;
        --text-color-secondary: #000000;
    }
}

main.force-dark {
    --background-color-main: rgb(0, 0, 0);
    --background-color-switch: #ffffff;
    --fill-menu: #ffffff;
    --text-color-main: #ffffff;
    --text-color-secondary: #000000;
}