@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap'); /*Importación de la fuente de letra importada desde la url del sitio web*/

* { /*Selector universal paara todos los elementos del HTML*/
    box-sizing: border-box; /**Propiedad de comportamiento de dimensiones, con valor para que las dimensiones declaradas no se vean afectadas*/
    margin: 0; /*Propiedad de margen externo, con valor 0 para no tener margen*/
}

body { /*Selector de tipo para el elemento HTML y sus contenidos*/
    font-family: 'Poppins', sans-serif; /*Propiedad de fuente de letra, con valor de la fuente importada*/
    font-size: 16px; /*Propiedad del tamaño de fuente de letra, con valor de 16 pixeles*/
}

.main { /*Selector de clase para el elemento html que lo posea*/
    height: 100vh; /*Propiedad de alto, con valor del 100% del alto del viewport visible*/
    width: 100vw; /*Propiedad de ancho, con valor del 100% del ancho del viewport visible*/
    background-image: linear-gradient(to right, #bc2b2b, #56329a); /*Propiedad para colocar una imagen de fondo, con valoe para colocar un gradiente de color, que vayan a la derecha, desde un valor de color, hacia otro*/
    display: flex; /*Propiedad de comportamiento de visualizacion, con valor para hacer uso de flexbox*/
    justify-content: center; /*Propiedad de alineamiento en el eje principal, con valor para centrar*/
    align-items: center; /*Propiedad para alinear en el eje secundario, con valor para centrar*/
}

@keyframes moveDown { /*Declaracion de fotogramas clave*/
    0%{ /*Inicio de la animación en el 0%, cuando inicia la página*/
        transform: translateY(-110px); /*Propiedad de transformacion del elemento, con valor de transladarlo en el eje "Y" 110 pixeles hacia afuera*/
    }
    100%{ /*Final de la animación en el 100%, cuando ya cargó la pagina*/
        transform: translateY(0px); /*Propiedad de transformacion del elemento, con valor de transladarlo en el eje "Y" 0 pixeles el cual es su posicion original*/
    }
}

.main__container { /*elector de clase para el elemento html que lo posea*/
    max-width: 1200px; /*Prooiedad de ancho maximo, con valor para no superar los 1200 pixeles*/
    width: 80%; /*Propiedad de ancho, con valor del 80% de su contenedor*/
    height: 70%; /*Propiedad de alto, con valor del 70% de su contenedor*/
    padding: 1.5rem; /*Propiedad de margen interno, con valor de 1.5 veces el tamaño de fuente raiz del HTML*/
    background-color: #ffffff; /*Propiedad de color de fondo, con valor del color blanco en hexadecimal*/
    border-radius: 0.5rem; /*Propiedad de redondeo de esquinas, con valor de 0.5 veces el tamaño de fuente raiz del HTML a todas las esquinas*/
    box-shadow: 0 15px 23px -15px; /*Propiedad de sombra del elmento, con los valores de 0 en eje "x", 15 pixeles en eje "y", 23 pixeles de difuminado, y -15 pixeles de esparcimiento*/
    display: flex; /*Propiedad de comportamiento de visualizacion, con valor para hacer uso de flexbox*/
    flex-direction: column; /*Propiedad de direccion de los flex-items, con valor para ser en columna*/
    justify-content: space-around; /*Propiedad de alineamiento en el eje principal, con valor para repartir el espacio equitativo sumandolo*/
    animation-name: moveDown; /*Propiedad de nombre de la animación que será ejecutada, con el valor asignado del nombre del fotograma clave*/
    animation-duration: 2s; /*Propiedad de duración de la animación, con valor de 2 segundos*/
}

.title__container { /*elector de clase para el elemento html que lo posea*/
    text-transform: uppercase; /*Propiedad de transformacion del texto, con valor para colocar el texto en mayusculas*/
    padding: .5rem 0; /*Propiedad de margen interno, con valor de 0.5 veces el tamaño de fuente raiz del HTML superio e inferior, y 0 a los lados*/
    border-bottom: 2px solid #bc2b2b; /*Propiedad de borde inferior, con los valores de 2 pixeles de grosor, solido, y de color en hexadecimal*/
    display: flex; /*Propiedad de comportamiento de visualizacion, con valor para hacer uso de flexbox*/
    align-items: center; /*Propiedad para alinear en el eje secundario, con valor para centrar*/
}

.number__title { /*elector de clase para el elemento html que lo posea*/
    color: #ffffff; /*Propiedad de color del texto, con valor del color blanco en hexadecimal*/
    background-color: #bc2b2b; /*Propiedad de color de fondo, con valor de color en hexadecimal*/
    margin-right: 1rem; /*propiedad de margen externo derecho, con valor de 1 vez el tamaño de fuente raiz del HTML*/
    padding: .6rem 1rem; /*Propiedad de margen interno, con valor de 0.6 veces el tamaño de fuente raiz del HTML superio e inferior, y 1 vez el tamalo de fuente raiz del HTML a los lados*/
    border-radius: .3rem; /*Propiedad de redondeo de esquinas, con valor de 0.3 veces el tamaño de fuente raiz del HTML a todas las esquinas*/
}

.main__button { /*elector de clase para el elemento html que lo posea*/
    width: 35px; /*Propiedad de ancho, con valor de 35 pixeles*/
    height: 35px; /*Propiedad de alto, con valor de 35 pixeles*/
    font-size: 1rem; /*Propiedad del tamaño de fuente de letra, con valor de 1 vez el tamaño de fuente raiz del html*/
    margin-left: auto; /*Propiedad de margen externo izquierdo, con valor auto para colocar el elemento al extremo opuesto*/
    border-radius: 50%; /*Propiedad de redondeo de esquinas, con valor de 50% para crear un circulo*/
    border: none; /*Propiedad de borde, con valor none para no tener borde*/
    background-color: #56329a; /*Propiedad de color de fondo, con valor de color en hexadecimal*/
    color: #ffffff; /*Propiedad de color del texto, con valor del color blanco en hexadecimal*/
    box-shadow: 0 5px 7px -3px #56329a /*Propiedad de sombra del elmento, con los valores de 0 en eje "x", 5 pixeles en eje "y", 7 pixeles de difuminado, -3 pixeles de esparcimiento, y de color en valor hexadecimal*/
}

.main__content { /*elector de clase para el elemento html que lo posea*/
    padding: 1rem; /*Propiedad de margen interno, con valor de 1 vez el tamaño de fuente raiz del HTML*/
    display: flex; /*Propiedad de comportamiento de visualizacion, con valor para hacer uso de flexbox*/
    gap: 2em; /*Propiedad de espaciado entre elementos, con valor de 2 veces el tamaño de fuene raiz del HTML*/
}

.paragraph__container { /*Selector de clase para el elemento html que lo posea*/
    box-shadow: inset 0px 0px 30px -20px #000000; /*Propiedad de sombra del elemento, con valor de sombra interna, 0 pixeles en eje "x", 0 pixeles en eje "y", 230 pixeles de difuminado, -20 pixeles de expansión, y de color negro en hexadecimal*/
    border-radius: 1rem;  /*Propiedad de redondeo de esquinas, con valor de 1 vez el tamaño de fuente raiz del HTML a todas las esquinas*/
    padding: 1rem; /*Propiedad de margen interno, con valor de 1 vez el tamaño de fuente raiz del HTML*/
    display: flex; /*Propiedad de comportamiento de visualizacion, con valor para hacer uso de flexbox*/
    flex-direction: column; /*Propiedad de direccion de los flex-items, con valor para ser en columna*/
    justify-content: space-evenly; /*Propiedad de alineamiento en el eje principal, con valor para repartir el espacio equitativo sin sumarlo*/
    gap: 2rem; /*Propiedad de espaciado entre elementos, con valor de 2 veces el tamaño de fuene raiz del HTML*/
}

.paragraph { /*Selector de clase para el elemento html que lo posea*/
    padding: 0 2rem; /*Propiedad de margen interno, con valor de 0 superior e inferior, y 2 veces el tamaño de fuente raiz del HTML*/
}

.location__icon { /*elector de clase para el elemento html que lo posea*/
    width: 2rem; /*Propiedad de ancho, con valor de 2 veces el tamaño de fuente raiz del HTML*/
    vertical-align: bottom; /*Propiedad de alineamiento vertical, con valor para colocarlo en el inferior*/
}

.ubication__content { /*elector de clase para el elemento html que lo posea*/
    font-size: 1.3rem; /*Propiedad del tamaño de fuente de letra, con valor de 1.3 veces el tamaño de fuente raiz del html*/
    font-weight: 600; /*Propiedad de peso de fuente de letra, con valor de negritas*/
    text-decoration: none; /*Propiedad de decoracion del texto, con valor none para no tener decorado*/
    color: #56329a; /*Propiedad de color del texto, con valor de color en hexadecimal*/
}

.image__container { /*elector de clase para el elemento html que lo posea*/
    width: 100%; /*Propiedad de ancho, con valor del 100% de su contenedor*/
    overflow: hidden; /*ropiedad de visualizacion de los elementos dentro de un contenedor, con valor para ocultar si se desborda el contenido*/
}

.image { /*elector de clase para el elemento html que lo posea*/
    max-height: 330px; /*Prooiedad de alto maximo, con valor para no superar los 330 pixeles*/
    width: 100%; /*Propiedad de ancho, con valor del 100% de su contenedor*/
    border-radius: 1.5rem;/*Propiedad de redondeo de esquinas, con valor de 1.5 veces el tamaño de fuente raiz del HTML a todos los lados*/
    padding: 1rem; /*Propiedad de margen interno, con valor de 1 vez el tamaño de fuente raiz del HTML*/
}

@media (max-width: 767px) { /*Media queri, para un ancho maximo del dispositivo, de 767 pixeles*/
    .main__container { /*elector de clase para el elemento html que lo posea*/
        width: 90%; /*Propiedad de ancho, con valor del 90% de su contenedor*/
        height: 90%; /*Propiedad de alto, con valor del 90% de su contenedor*/
        justify-content: space-evenly; /*Propiedad de alineamiento en el eje principal, con valor para repartir el espacio equitativo sin sumarlo*/
    }

    .main__content { /*elector de clase para el elemento html que lo posea*/
        height: 70%; /*Propiedad de alto, con valor del 70% de su contenedor*/
        flex-direction: column; /*Propiedad de direccion de los flex-items, con valor para ser en columna*/
        align-items: center; /*Propiedad para alinear en el eje secundario, con valor para centrar*/
        gap: 1rem; /*Propiedad de espaciado entre elementos, con valor de 1 vez el tamaño de fuene raiz del HTML*/
    }

    .main__title { /*elector de clase para el elemento html que lo posea*/
        font-size: 1.5rem; /*Propiedad del tamaño de fuente de letra, con valor de 1.5 veces el tamaño de fuente raiz del html*/
    }

    .image__container { /*elector de clase para el elemento html que lo posea*/
        width: 100%; /*Propiedad de ancho, con valor del 100% de su contenedor*/
        height: 40%; /*Propiedad de alto, con valor del 40% de su contenedor*/
        overflow: hidden; /**ropiedad de visualizacion de los elementos dentro de un contenedor, con valor para ocultar si se desborda el contenido*/
        text-align: center; /*Propiedad de alineamiento del texto, con valor para centrarlo*/
        border-radius: 0 0 0.5em 0.5em; /*Propiedad de redondeo de esquinas, con valor de 0 superior izquierda, 0 superior derecha, 0.5 veces el tamaño de fuente raiz del HTML inferior derecha, y 0.5 veces el tamaño de fuente raiz del HTML inferior izquierda*/
    }

    .image { /*Selector de clase para el elemento html que lo posea*/
        max-width: none; /*Prooiedad de ancho maximo, con valor none para no tener un ancho maximo*/
        width: 100%; /*Propiedad de ancho, con valor del 100% de su contenedor*/
        padding: 0; /*Propiedad de margen interno, con valor 0 para no tener margen*/
        border-radius: 0.5rem; /*Propiedad de redondeo de esquinas, con valor de 0.5 veces el tamaño de fuente raiz del HTML a todas las esquinas*/
    }

    .paragraph__container { /*elector de clase para el elemento html que lo posea*/
        height: 60%; /*Propiedad de alto, con valor del 60% de su contenedor*/
        overflow: scroll; /*ropiedad de visualizacion de los elementos dentro de un contenedor, con valor para colocar un scroll si se desborda el contenido*/
        justify-content: space-between; /*Propiedad de alineamiento en el eje principal, con valor para colocar los elementos a los extremos*/
        gap: 0.5rem; /*Propiedad de espaciado entre elementos, con valor de 0.5 veces el tamaño de fuene raiz del HTML*/
        box-shadow: inset 0px -5px 25px -15px #000000; /*Propiedad de sombra del elemento, con valor de sombra interna, 0 pixeles en eje "x", -5 pixeles en eje "y", 25 pixeles de difuminado, -15 pixeles de expansión, y de color negro en hexadecimal*/
    }

    .ubication__content { /*elector de clase para el elemento html que lo posea*/
        padding: 0 0.5rem; /*Propiedad de margen interno, con valor de 0  superio e inferior, y 0.5 veces el tamalo de fuente raiz del HTML a los lados*/
        font-size: 1rem; /*Propiedad del tamaño de fuente de letra, con valor de 1 vez el tamaño de fuente raiz del html*/
    }

    .paragraph { /*elector de clase para el elemento html que lo posea*/
        padding: 0 0.5rem; /*Propiedad de margen interno, con valor de 0  superio e inferior, y 0.5 veces el tamalo de fuente raiz del HTML a los lados*/
        line-height: 1.5; /*Propiedad de alto entre lineas de texto, con valor de 1.5*/
    }
}